html {
    font-size: 90%;
    font-family: Inter, system-ui, sans-serif;
}

body {
    background: #C0BFF8;
    color: #eee;
}

/* custom scrollbar */
.scrollable::-webkit-scrollbar {
    width: 4px;
}

.scrollable::-webkit-scrollbar-track {
    background: transparent;
}

.scrollable::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 999px;
}

.scrollable::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.35);
}